<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716959775532-25dtl18sdssnlqhqss6sjultcn4a56dm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716959775532-25dtl18sdssnlqhqss6sjultcn4a56dm</string>
	<key>API_KEY</key>
	<string>AIzaSyBlAaWdoQUAkS-kGlO1FY3WhYs7dnOR5mM</string>
	<key>GCM_SENDER_ID</key>
	<string>716959775532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ticketApp</string>
	<key>PROJECT_ID</key>
	<string>resela-association</string>
	<key>STORAGE_BUCKET</key>
	<string>resela-association.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716959775532:ios:6346b1e12206f459e28a89</string>
	<key>DATABASE_URL</key>
	<string>https://resela-association-default-rtdb.firebaseio.com</string>
</dict>
</plist>